[Unit]
Description=frozen-spring.com
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/path/to/frozen-spring
ExecStart=/usr/bin/docker-compose up --build -d --remove-orphans
ExecStop=/usr/bin/docker-compose down --rmi local

[Install]
WantedBy=multi-user.target
